body {
    background-color: rgb(255, 255, 255);
    color:#4c8ef8;

    font-family: 'Quicksand', sans-serif;

    margin: auto;
    text-align: center;
}

.header {
    margin-top: 8em;
}
/* You Died Animation */
.you-died {
    animation: fadeIn 10s ;
    font-family: 'OptimusPrinceps', 'Times New Roman', Times, serif;
    font-size: 8em;
    color: red;

    position: absolute;

    background: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    opacity: 0.9;

    animation: fadeIn 5s, text-zoom 5s linear;
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('/rock-paper-scissors/css/font/optimusprinceps/OptimusPrinceps.woff2')
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.9;}
}

@keyframes text-zoom {
    0% { font-size: 5em; }
    25% { font-size: 6em; }
    50% { font-size: 7em; }
    75% { font-size: 8em; }
    100% { font-size: 8em; }
}

@keyframes fadeOut {
    100% {opacity: 1;}
    0% {opacity: 0;}
}


/* Scoreboard */
.sb_names {
    display: flex;
    gap: 12%;
    
    justify-content: center;    
    margin-left: 38%; 

    width: 370px;

    font-size: 25px;

    border: solid #3882F6;
}

.sb_points {
    display: flex;
    gap: 32%;
    
    justify-content: center;    
    margin-left: 38%; margin-bottom: 2%;
    padding-top: 2%; padding-bottom: 2%;
    width: 370px;

    font-size: 50px;

    border: solid #3882F6;
}

.rounds {
    font-size: 30px;
    margin-bottom: 25px;
}

/* Button */
.gamebutton {
    color:#E5E7EB; 
    font-size: 18px;
    line-height: 16px; 
    border-radius: 8px; 
    border: none;
    font-weight: bold;
    background-color: #3882F6;
    display: inline-block;
    padding-left: 30px; padding-right: 30px;
    padding-top: 10px; padding-bottom: 10px;

    transition: all 0.2s;
    cursor: pointer;

}
.gamebutton:hover{
    background-color: #508ff5;
}
.gamebutton:active  {
    background-color: #70a6fc;
    box-shadow: 0 2px #666;
    transform: translateY(-4px);
    transition: all 0.1s;
  }

.choices {
    display: flex;
    margin-left: 36.7em;
    gap: 1em;
}

.reset {
    display: flex;
    margin-left: 44.1em; margin-top: 1em;
    
}

/* footer and github */
.footer {
    margin-top: 3em;
}

.github:link {
    color:#3882F6;
}
.github:visited {
    color: #3882F6;
}

.fa-github {
    color: var(--primiary-light);
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
