body {
    background-color: rgb(255, 255, 255);
    color:#4c8ef8;

    font-family: 'Quicksand', sans-serif;

    margin: auto;
    text-align: center;
}

.header {
    margin-top: 10%;
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    
    margin-left: 40.5%;
}

.scoreboard__name,
.scoreboard__score {
    padding: 10px;
    text-align: center;
}
.scoreboard__name {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.scoreboard__name--one {
    color: #009578;
}

.scoreboard__name--two {
    color: #2d0095;
}

.scoreboard__score {
    font-size: 2em;
}




/* Button */
.gamebutton {
    color:#E5E7EB; 
    font-size: 18px;
    line-height: 16px; 
    border-radius: 8px; 
    border: none;
    font-weight: bold;
    background-color: #3882F6;
    display: inline-block;
    padding-left: 30px; padding-right: 30px;
    padding-top: 10px; padding-bottom: 10px;

    transition: all 0.5s;
    cursor: pointer;

}
.gamebutton:hover{
    background-color: #508ff5;
}
.gamebutton:active  {
    background-color: #70a6fc;
    box-shadow: 0 2px #666;
    transform: translateY(-4px);
  }
  
